.home-container{
    margin-top: 100px;
    width: 100%;
    
}

.home-header{
    margin: 0 auto;
    max-width: 700px;
    font-size: 60px;
    text-align: center;
}

.skills-bar{
    display: flex;
    justify-content: center;
    margin: 75px auto 0 auto;
    width: 500px;
}
.skill-tag{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.skill{
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #e8e5e480;
}
.image{
    height: 200px;
    width: 200px;
}