<div class = 'header'>
    <div class = 'nav'>
        <div class="nav-btn" routerLink="/home" routerLinkActive="active-link">
            <p>Home</p>
        </div>
        <div class="nav-btn" routerLink="/profile" routerLinkActive="active-link">
            <p>Profile</p>
        </div>
        <div class="nav-btn" routerLink="/contact" routerLinkActive="active-link">
            <p>Contact</p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<!-- spacer -->
<div style="margin: 40px;"></div>

<div class = 'footer'>
    <p class="footerElement">Place Holder Name</p>
    <div class="footerLinks">
        <p class="link"><a href="https://twitter.com/" target="_blank">Twitter</a></p>
        <p class="link"><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></p>
        <p class="link"><a href="https://www.google.com/" target="_blank">Mail</a></p>
    </div>

</div>