<div class = 'header'>
    <div class = 'nav'>
        <div class="nav-btn" routerLink="/home" routerLinkActive="active-link">
            <p>Home</p>
        </div>
        <div class="nav-btn" routerLink="/profile" routerLinkActive="active-link">
            <p>Profile</p>
        </div>
        <div class="nav-btn" routerLink="/contact" routerLinkActive="active-link">
            <p>Contact</p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<div class = 'footer'>
    <p routerLink="/contact" routerLinkActive="active-link">just a test</p>

</div>